web-static/HTML5 Meta Tags and Comments/Creating a Basic HTML5 Document Structure.html
web-static/HTML5 Meta Tags and Comments/Creating a Basic HTML5 Document Structure.html
web-static/HTML5 Meta Tags and Comments/Creating a Basic HTML5 Document Structure.html
web-static/Introduction to HTML5 Structure/Adding a Body Section in an HTML5 Document.html
web-static/Introduction to HTML5 Structure/Using Comments in HTML5.html
web-static/Introduction to HTML5 Structure/Using the New Meta Tags Introduced in HTML5.html
web-static/Introduction to HTML5 Structure/Creating a Basic HTML5 Document Structure.html
web-static/Introduction to HTML5 Structure/index.html
