body{
    position: absolute;
    left: 5%;
    background-color: cadetblue;
}
.home:hover{
    background-color: white;
}
.about:hover{
    background-color: white;
}
.faq:hover{
    background-color: white;
}
.blog:hover{
    background-color: white;
}
.career:hover{
    background-color: white;
}
.navbar a{
    float: left;
    text-align: center;
}
.home{
    width: 130px; 
    height: 50px;
    position: absolute;
    right: 880px;
    text-decoration: none;
}
.about{
    width: 130px; 
    height: 50px;
    position: absolute;
    right: 750px;
}
.faq{
    width: 130px; 
    height: 50px;
    position: absolute;
    right: 620px;
}
.blog{
    width: 130px; 
    height: 50px;
    position: absolute;
    right: 490px;
}
.career{
    width: 130px; 
    height: 50px;
    position: absolute;
    right: 360px;
}
.side{
    position: absolute;
    right: 0%;
    top: 130px;
}
.content{
    width: 900px; 
    height: 800px; 
    background-color: darkorange;
    column-count: 3;
    -ms-column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;

}